*.pyc
*/*.pyc
*/*/*.pyc
node_modules
venv/*
venv/Lib/site-packages/pip/_internal/utils/inject_securetransport.py
venv/Lib/site-packages/pip/_vendor/cachecontrol/compat.py
venv/Lib/site-packages/pip-23.2.1.dist-info/AUTHORS.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/entry_points.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/INSTALLER
venv/Lib/site-packages/pip-23.2.1.dist-info/LICENSE.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/METADATA
venv/Lib/site-packages/pip-23.2.1.dist-info/RECORD
venv/Lib/site-packages/pip-23.2.1.dist-info/REQUESTED
venv/Lib/site-packages/pip-23.2.1.dist-info/top_level.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/WHEEL
venv/Lib/site-packages/pip/_internal/utils/inject_securetransport.py
venv/Lib/site-packages/pip/_vendor/cachecontrol/compat.py
venv/Lib/site-packages/pip-23.2.1.dist-info/AUTHORS.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/entry_points.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/INSTALLER
venv/Lib/site-packages/pip-23.2.1.dist-info/LICENSE.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/METADATA
venv/Lib/site-packages/pip-23.2.1.dist-info/RECORD
venv/Lib/site-packages/pip-23.2.1.dist-info/REQUESTED
venv/Lib/site-packages/pip-23.2.1.dist-info/top_level.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/WHEEL
venv/Lib/site-packages/pip/_internal/utils/inject_securetransport.py
venv/Lib/site-packages/pip/_vendor/cachecontrol/compat.py
venv/Lib/site-packages/pip-23.2.1.dist-info/AUTHORS.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/entry_points.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/INSTALLER
venv/Lib/site-packages/pip-23.2.1.dist-info/LICENSE.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/METADATA
venv/Lib/site-packages/pip-23.2.1.dist-info/RECORD
venv/Lib/site-packages/pip-23.2.1.dist-info/REQUESTED
venv/Lib/site-packages/pip-23.2.1.dist-info/top_level.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/WHEEL
venv/Lib/site-packages/pip/_internal/utils/inject_securetransport.py
venv/Lib/site-packages/pip/_vendor/cachecontrol/compat.py
venv/Lib/site-packages/pip/_internal/utils/inject_securetransport.py
venv/Lib/site-packages/pip/_vendor/cachecontrol/compat.py
