
// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// scss-docs-start table-variables
$table-cell-padding-y: .75rem;
$table-cell-padding-x: .6rem;
$table-cell-padding-y-sm: .3rem;
$table-cell-padding-x-sm: .25rem;
$table-cell-background-gray: $gray; // White background color for table cells
$table-cell-background-info: $info; // White background color for table cells


// Define a class to set the background color for all td elements within a table
.table-cell-background-gray tbody td {
  background-color: $table-cell-background-gray;
}

.table-cell-background-info tbody td {
  background-color: $table-cell-background-info;
}

$table-cell-vertical-align: top;

$table-color: var(--#{$prefix}body-color);
$table-bg: transparent;
$table-accent-bg: transparent;

$table-th-font-weight: $font-weight-semibold;

$table-striped-color: $table-color;
$table-striped-bg-factor: .02;
$table-striped-bg: rgba(var(--#{$prefix}body-color-rgb), $table-striped-bg-factor);

$table-active-color: $table-color;
$table-active-bg-factor: 0.04;
$table-active-bg: rgba(var(--#{$prefix}body-color-rgb), $table-active-bg-factor);

$table-hover-color: $table-color;
$table-hover-bg-factor: 0.04;
$table-hover-bg: rgba(var(--#{$prefix}body-color-rgb), $table-hover-bg-factor);

$table-border-factor: .1;
$table-border-width: var(--#{$prefix}border-width);
$table-border-color: var(--#{$prefix}border-color);

$table-striped-order: odd;
$table-striped-columns-order: even;

$table-group-separator-color: currentcolor;

$table-caption-color: var(--#{$prefix}secondary-color);

$table-bg-scale: -80%;
// scss-docs-end table-variables

// scss-docs-start table-loop
$table-variants: (
  "primary": shift-color($primary, $table-bg-scale),
  "secondary": shift-color($secondary, $table-bg-scale),
  "success": shift-color($success, $table-bg-scale),
  "info": shift-color($info, $table-bg-scale),
  "warning": shift-color($warning, $table-bg-scale),
  "danger": shift-color($danger, $table-bg-scale),
  "light": $light,
  "gray": $gray,
  "dark": $dark,
);
// scss-docs-end table-loop
