.e-toolbar-right {
    margin-right: 5px;
    display: block;
    border-radius: 4px;
    background-color: gray;
    position: relative;
    display: inline-block;
    /* margin: 0px; */
    /* padding: 0px; */
}