// Sale Body
.sale__body {
  // position: absolute;
  top: 63px;
  left: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;

  .sale__body a {
    text-decoration: underline
  }

  .sale__adding-col,
  .sale__payment-col,
  .sale__summary-col {
    overflow: auto;
    box-sizing: border-box
  }

  .sale__adding-col {
    padding: 0px;
  }

  .sale__payment-col,
  .sale__summary-col {
    padding: 12px;
  }


  .sale__adding-col,
  .sale__payment-col {
    background-color: #f4f4f4
  }

  .sale__summary-col {
    display: flex;

    .sale__summary {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative
    }
  }

}

// Sale General
@media (min-width: 770px) {
  .sale__overlay {
    display: flex
  }

  .sale__overlay--viewing .sale__body {
    margin-left: 0
  }

  .sale__overlay--complete .sale__body,
  .sale__overlay--payment .sale__body {
    margin-left: -67vw
  }

  .sale__head .sale__head-left-close {
    display: none
  }


  .sale__body {
    flex: 1;
    height: calc(100vh - 238px);

    // width: 167vw;

    // .sale__summary-total-line { //not sure where is it
    //   padding: 8px 0
    // }

    .sale__adding-col {
      overflow: hidden;
      border-right: 1px solid #ddd;


      .sale__search {
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    .sale__adding-col,
    .sale__payment-col {
      width: 67%;
    }

    .sale__summary-col {
      width: 33%;
    }

    .sale__payment-col {
      padding: 16px;
    }

    .sale__summary-col {
      width: 33%;
      padding: 16px 16px 0;
      background: #fff;



    }
  }
}