$color_2: #5053b8;
$color_3: #6a7982;

// Sale Adding - Navigation
.sale__adding-navigation {
  position: relative;
  display: flex;
  font-size: 16px;
  overflow: auto;
  background: $white;


  .sale__button-link {
    padding: 0;
    margin: 0;
    border: none;
    display: inline;
    cursor: pointer;
    font-size: 16px;
    line-height: 64px;
    font-family: Lato, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #39464e;
    text-align: center;
    flex: 1;
  }

  .sale__tab {
    padding: 0 16px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  .sale__tab:hover {
    background-color: #f5f5f5;
    /* Light grey background on hover */
  }

  .sale__tab--active {
    position: relative;
    font-weight: 700;
    border-bottom: 2px solid #333;
    z-index: 1;
    background-color: #f5f5f5;
    /* Light grey background on hover */

  }
}



// Toggle Button
.sale__items-toggle-line {
  position: relative;

  .sale__items-toggle {
    position: absolute;
    top: -4px;
    right: 0;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
    }
  }
}


// Service, Package, Products Available
.sale__items {
  padding: 16px;
  position: relative;
  overflow-y: auto;
  height: calc(100vh - 238px);

  .sale__item-category-container {
    h3 {
      margin: 24px 0 12px;
    }

    .sale__label {
      padding-bottom: 8px;
      font-size: 16px;
      font-style: italic
    }

    &:first-of-type h3 {
      margin: 0 0 16px;
    }

    .sale__item-category-items-display-grid {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .sale__item-category-items {
      flex-wrap: wrap;

      .sale__item {
        position: relative;
        padding: 8px;
      }

      .sale__card {
        background-color: $white;
        border: 1px solid #e7e7e7;
        box-shadow: 0 0 8px rgba(0, 0, 0, .04);
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 8px rgba(0, 0, 0, .1);
        }

        &--added {
          position: relative;
          border: 1px solid #dbdcff;
        }

        .sale__item-details {
          flex: 1;
          display: flex;
          flex-wrap: wrap;


          .sale__item-name {
            flex: 1;
            margin: 4px 0;
            font-size: 16px;
            font-weight: 700;
            flex-grow: 1 !important;

            &.danger {
              color: $danger;
            }
          }

          .sale__item-price {
            font-size: 16px;
            line-height: 32px;
            text-align: right;
            flex-shrink: 0 !important;
          }

          .sale__item-duration {
            color: $color_3;
            font-style: italic;
            flex: 1;
            flex-basis: 100%;
          }
        }
      }

      .sale__item-row {
        display: flex;
        line-height: 24px;

        .sale__service-icon {
          width: 32px;
          margin-left: -10px;
        }

        .sale__item-icon,
        .sale__item-icon svg {
          width: 32px;
          height: 32px;
        }

        .sale__item-icon svg {
          margin-left: -4px;
        }

        .sale__item-name {
          flex: 1;
          margin: 4px 0;
          font-size: 16px;
          font-weight: 700;
          flex-grow: 1 !important;

          &.danger {
            color: $danger;
          }
        }

        .sale__item-price {
          font-size: 16px;
          line-height: 32px;
          text-align: right;
          flex-shrink: 0 !important;
        }

        .sale__item-details {
          flex: 1;
          display: flex;
          flex-wrap: wrap;
        }

        .sale__item-duration {
          color: $color_3;
          font-style: italic;
          flex: 1;
          flex-basis: 100%;
        }
      }
    }
  }

}


@media (min-width: 770px) {
  .sale__items-grid {
    .sale__item-category-items {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .sale__item {
      padding: 8px;
      width: 25%;

      .sale__item-row {
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
      }
    }
  }
}


// Not used yet

.sale__item--no-stock .sale__item-name {
  text-decoration: line-through;
}


// items that are not available i guess
.sale__item--unsellable {
  cursor: not-allowed;

  .sale__item-card {
    .sale__item-card-inner {
      padding: 16px;
    }

    .sale__item-thumb {
      display: none;
    }

    .sale__item-details {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }

    .sale__item-name {
      text-align: left;
      width: 70%;
    }

    .sale__item-price {
      width: 30%;
      text-align: right;
    }

    .sale__item-quantity {
      margin-right: 16px;
    }

    .sale__item-card-inner {
      padding: 16px 8px;

      .sale__added-badge {
        position: absolute;
        padding: 0 8px;
        line-height: 20px;
        top: -1px;
        left: -1px;
        color: $color_2;
        border-radius: 6px 0 8px 0;
        background-color: $white;
      }

      .sale__item-thumb {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .sale__item-details {
        margin-top: 8px;

        .sale__item-name {
          font-weight: 700;
          font-size: 18px;
          text-align: center;
        }

        .sale__item-price {
          font-size: 18px;
          text-align: center;
        }
      }
    }

    .sale__item-quantity {
      color: $color_3;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      font-style: italic;
    }

    .sale__item-purchased {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      font-style: italic;
    }
  }
}