@media (min-width: 770px) {
  .sale__head .sale__head-left-close {
    display: none
  }

  .sale__body {
    flex: 1;
    // width: 167vw
  }

  .sale__overlay {
    display: flex
  }


  .sale__payment-col {
    padding: 16px
  }

  .sale__summary-col {
    width: 33vw;
    padding: 16px 16px 0;
    background: #fff
  }

  .sale__overlay--viewing .sale__body {
    margin-left: 0
  }

  .sale__overlay--complete .sale__body,
  .sale__overlay--payment .sale__body {
    margin-left: -67vw
  }
}

.sale__card {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 8px rgba(0, 0, 0, .04);
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  border-color: $primary;
}