$color_2: #5053b8;
$color_3: #6a7982;

.sale__products-toggle-line {
  position: relative;

  .sale__products-toggle {
    position: absolute;
    top: -4px;
    right: 0;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
    }
  }
}

.sale__products-customer {
  padding-bottom: 16px;
}

.sale__product-items {
  padding: 8px;
  margin: 0 -8px;

  .sale__product {
    padding: 0 0 8px;
    box-sizing: border-box;
  }
}

.sale__product--no-stock {
  .sale__product-name {
    text-decoration: line-through;
  }

  .sale__product-quantity {
    color: $danger;
  }
}

.sale__product--unsellable {
  cursor: not-allowed;

  .sale__product-card {
    cursor: not-allowed;
  }
}

.sale__product-card {
  position: relative;
  height: 100%;
  cursor: pointer;

  .sale__product-card-inner {
    padding: 16px 8px;

    .sale__added-badge {
      position: absolute;
      padding: 0 8px;
      line-height: 20px;
      top: -1px;
      left: -1px;
      color: $color_2;
      border-radius: 6px 0 8px 0;
      background-color: $white;
    }

    .sale__product-thumb {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .sale__product-details {
      margin-top: 8px;

      .sale__product-name {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
      }

      .sale__product-price {
        font-size: 18px;
        text-align: center;
      }
    }
  }








  .sale__product-quantity {
    color: $color_3;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
  }

  .sale__product-purchased {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
  }
}

.sale__products-list {
  .sale__product-card-inner {
    padding: 16px;
  }

  .sale__product-thumb {
    display: none;
  }

  .sale__product-details {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .sale__product-name {
    text-align: left;
    width: 70%;
  }

  .sale__product-price {
    width: 30%;
    text-align: right;
  }

  .sale__product-quantity {
    margin-right: 16px;
  }
}

@media (min-width: 770px) {
  .sale__products-grid {
    .sale__product-items {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .sale__product {
      padding: 8px;
      width: 25%;
    }
  }
}