.sale__payment {
  flex: 1
}


.sale__overlay--complete .sale__summary .sale__card,
.sale__overlay--payment .sale__summary .sale__card {
  box-shadow: none;
  border: none;
  border-radius: 0
}


.sale__overlay--complete .sale__summary .sale__items.sale__card,
.sale__overlay--payment .sale__summary .sale__items.sale__card {
  background: none
}

.sale__payment-mobile-totals {
  border-bottom: 1px solid #ddd
}

.sale__payment-head {
  text-align: center;
  padding: 16px
}

.sale__label {
  padding-bottom: 8px;
  font-size: 16px;
  font-style: italic
}


.sale__payment-head h1+.sale__label {
  margin-top: 32px
}

.sale__payment-center {
  text-align: center;
  padding: 16px
}

.sale__payment-container {
  padding: 16px 32px;
  max-width: 880px;
  margin: 0 auto;
  text-align: center
}

.sale__payment-options-container {
  padding: 0 0 16px;
  max-width: 640px;
  margin: 0 auto;
  text-align: center
}

.sale__payment-amount-label {
  margin-top: 8px
}


.sale__payment-customer {
  border-bottom: 1px solid #ddd;
  padding: 16px
}

.sale__payment-customer .sale__payment-options {
  padding: 0
}

.sale__payment-customer-with-terminals-enabled {
  border: none
}

.sale__payment-customer-with-terminals-enabled-payment-options {
  padding-bottom: 0;
  margin-bottom: -16px
}

.sale__payment-options {
  padding: 16px
}

.sale__payment-options-extras {
  text-align: center;
  margin-top: 16px
}

.sale__payment-options-extras button {
  font-size: 16px
}

.sale__payment-options-extras.smaller-top-margin {
  margin-top: 8px
}

.sale__payment-options-card-extras {
  margin-bottom: 20px;
  margin-top: 0
}

.sale__payment-options-card-extras button {
  font-size: 16px
}

.sale__payment-option {
  box-sizing: border-box;
  padding: 0 0 8px
}

.sale__payment-option-card,
.sale__timely-pay-payment-option-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  text-align: center;
  cursor: pointer
}

.sale__payment-option-card .sale__payment-option-label,
.sale__timely-pay-payment-option-card .sale__payment-option-label {
  font-size: 16px;
  font-weight: 700
}

.sale__payment-option-card .sale__payment-option-value,
.sale__timely-pay-payment-option-card .sale__payment-option-value {
  flex: 1;
  font-size: 16px;
  text-align: right
}

.sale__payment-option--dark .sale__payment-option-card {
  background-color: #39464e;
  color: #fff
}

.sale__payment-option--disabled .sale__payment-option-card {
  opacity: .6
}


.sale__payment-terminals-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between
}

.sale__payment-terminals-container>* {
  flex-grow: 0;
  gap: 1rem;
  width: 49.25%
}


.sale__payment-option-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #aaa
}

.sale__payment-surcharge-amount-label {
  color: var(--tui-charcoal-400);
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 700
}



@media (min-width: 770px) {
  .sale__timely-pay-payment-option-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap
  }

  .sale__payment-mobile-totals {
    display: none
  }

  .sale__payment-head {
    padding: 48px 0 16px
  }

  .sale__payment-spinner {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center
  }

  .sale__payment-customer {
    margin-bottom: 24px;
    padding: 0 0 16px
  }

  .sale__payment-customer-with-terminals-enabled {
    margin-bottom: 0
  }

  .sale__payment-customer-with-terminals-enabled-payment-options {
    padding-bottom: 0
  }

  .sale__payment-options {
    display: flex;
    margin: 0 -4px;
    flex-wrap: wrap;
    padding: 0
  }

  .sale__payment-option {
    width: 33.33%;
    padding: 0 4px 8px
  }

  .sale__payment-option-card,
  .sale__timely-pay-payment-option-card {
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    min-height: 60px
  }

  .sale__payment-option-card .sale__payment-option-label,
  .sale__timely-pay-payment-option-card .sale__payment-option-label {
    font-size: 18px
  }

  .sale__payment-option-card .sale__payment-option-value,
  .sale__timely-pay-payment-option-card .sale__payment-option-value {
    margin-top: 8px;
    text-align: center;
    line-height: 32px
  }

  .sale__payment-option-card .sale__payment-option-details,
  .sale__timely-pay-payment-option-card .sale__payment-option-details {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a7982
  }

  .sale__timely-pay-payment-option-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 0 0 8px;
    padding: 16px 32px
  }

  .sale__timely-pay-payment-option-card a {
    text-decoration: none;
    color: #fff
  }

  .sale__add-saved-card-banner {
    border-radius: 3px;
    background-color: #e3e6e8;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px
  }
}


input.sale__input--xl {
  font-size: 44px;
  font-weight: 700;
  height: 80px;
  text-align: center
}