.sale__button {
  width: 100%;
  background-color: #39464E;
  border-color: #39464E;
  color: #fff;
  height: 48px;
  font-size: 20px;

  &:hover {
    background-color: #303B42;
    border-color: #303B42;
    color: #fff;
  }
}


.sale__button-save {
  width: 100%;
  background-color: #39464E;
  border-color: #39464E;
  color: #fff;
  height: 48px;
  font-size: 20px;

  &:hover {
    background-color: #373d41;
    color: #fff;
    border-color: #39464E;
  }
}

.sale__button-cancel {
  width: 100%;
  background: none;
  border-color: #39464E;
  color: #39464E;
  height: 48px;
  font-size: 20px;

  &:hover {
    background-color: #cecece;
  }
}


.sale__button-remove {
  width: 100%;
  color: #da4f49;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  display: inline;
  cursor: pointer;
  margin-top: 16px;

  &:hover {
    color: #d88481;
  }
}

.sale__button-row {
  display: flex
}

.sale__button-row--right {
  justify-content: flex-end
}

.sale__button {
  height: 48px;
  font-size: 20px
}

.sale__button--active {
  background-color: #ddd
}

button.sale__button--l {
  font-size: 20px;
  height: 64px
}

button.sale__button--xl {
  font-size: 24px;
  height: 80px
}

.sale__button-full-width {
  width: 100%
}

.sale__button-danger {
  color: #da4f49
}

.sale__button-green,
.sale__button-green:hover {
  background-color: #55823e;
  border-color: #55823e
}

.sale__button-white {
  box-shadow: 0 0 8px rgba(0, 0, 0, .1)
}

.sale__button-white,
.sale__button-white:hover {
  background-color: #fff;
  border-color: #fff;
  color: #5c5fc1
}

.sale__button-midnight {
  background-color: #696cd1;
  border-color: #696cd1;
  color: #fff
}

.sale__button-midnight:hover {
  background-color: #5c5fc1;
  border-color: #5c5fc1;
  color: #fff
}

.sale__button-midnight-outline,
.sale__button-midnight-outline:hover {
  background-color: #fff;
  border-color: #5c5fc1;
  color: #5c5fc1
}

@media (min-width: 770px) {
  .sale__head .sale__head-left-close {
    display: none
  }

  .sale__body {
    flex: 1;
    // width: 167vw
  }

  .sale__overlay {
    display: flex
  }


  .sale__payment-col {
    padding: 16px
  }

  .sale__summary-col {
    width: 33vw;
    padding: 16px 16px 0;
    background: #fff
  }

  .sale__overlay--viewing .sale__body {
    margin-left: 0
  }

  .sale__overlay--complete .sale__body,
  .sale__overlay--payment .sale__body {
    margin-left: -67vw
  }
}

.sale__card {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 8px rgba(0, 0, 0, .04);
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  border-color: $primary;
}