//
// avatar.scss
//

.avatar-xxs {
    height: 1.5rem;
    width: 1.5rem;
}

.avatar-xs {
    height: 2rem;
    width: 2rem;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4.5rem;
    width: 4.5rem;
}

.avatar-lg {
    height: 6rem;
    width: 6rem;
}

.avatar-xl {
    height: 7.5rem;
    width: 7.5rem;
}

.avatar-title {
    align-items: center;
    background-color: $primary;
    color: $white;
    display: flex;
    font-weight: $font-weight-medium;
    height: 100%;
    justify-content: center;
    width: 100%;
}

// avatar group
.avatar-group {
    display: flex;
    flex-wrap: wrap;
    padding-left: 12px;
    cursor: pointer;

    .avatar-group-item {
        margin-left: 4px;
        border: 2px solid var(--#{$prefix}secondary-bg);
        border-radius: 50%;
        transition: all 0.2s;
        position: relative;
        // z-index: 1;
        text-align: center;

        &:hover, &.selected {

            img {
                transform: translateY(-2px);
                z-index: 2;
                border: 2px solid $secondary;
            }

            .avatar-group-name {
                color: $secondary; 
                font-weight: bold;
            }
        }

        .avatar-group-name {
            color: #6a7982;
            margin-top: 8px;
            font-size: 14px;
        }
    
    }

}




  // .sale__options-selector-staff-name {
  //   padding-left: 32px
  // }
  
  // .sale__options-staff-list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-top: 8px
  // }
  
  // .sale__options-staff-item {
  //   width: 33.33%;
  //   padding-bottom: 16px;
  //   text-align: center;
  //   cursor: pointer
  // }
  
  // .sale__options-staff-item-name {
  //   color: #6a7982;
  //   margin-top: 8px;
  //   font-size: 18px;
  //   text-align: center
  // }
  
  // .sale__options-staff-item-avatar {
  //   margin: 0 auto
  // }