@import "../scss/icons.scss";
@import "../scss/config/galaxy/bootstrap.scss";
@import "../scss/config/galaxy/app.scss";
@import "../scss/config/galaxy/custom.scss";
@import"./shepherd.css";
@import "./mermaid.min.css";

//Rigthsidebar offcanvas
.offcanvas-header-dark {
  .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
  }
}

body {
  * {
    outline: none;
  }
}

.noUi-horizontal .noUi-handle {
  height: 16px !important;
  width: 16px !important;
  border-radius: 50% !important;
  right: -10px !important;
  top: -7px !important;
}

.noUi-connect,
.noUi-horizontal {
  height: 2px !important;
}

.noUi-handle {
  background: #8c68cd !important;
  border: 2px solid var(--vz-card-bg) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.noUi-target {
  background: #fafafa !important;
  border-radius: 4px !important;
  border: 1px solid #d3d3d3 !important;
  background-color: var(--vz-light) !important;
  border-color: var(--vz-light) !important;
  box-shadow: none !important;
  height: 4px !important;
}

.dropzone .dz-message {
  text-align: center;
}

.bold {
  font-weight: 700;
}



// from Timely
#flex-pane {
  height: 100%;
  background-color: #fff;
  // margin-left: -20px;
  font-size: 13px;
  z-index: 1;
  width: 350px;

  .fc-flex-toggle__wrapper > .btn {
    margin: unset !important;
  }

  .expand-toggle {
    display: block;
    margin: -10px 0 10px;
  }

  .expand-toggle.expand-toggle--after-row {
    margin-top: -30px;
    margin-bottom: 20px;
  }

  .appointment-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;

    h3 {
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;

      i {
        color: #aaa;
        font-size: 16px;
        top: -1px;
        position: relative;
      }
    }

    li {
      overflow: auto;
      padding-top: 16px;
      padding-bottom: 6px;
      border-top: 1px solid #eee;

      &:first-child {
        padding-top: 0;
        border-top: none;
      }
    }
  }
}


@media (max-width: 599px) {
  #flex-pane {
    position: fixed;
    top: 81px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    margin: unset;
    z-index: 9;

    .fc-flex-toggle__wrapper {
      display: table-cell
    }
  }
}

@media (min-width: 992px) {
  #flex-pane {
    width: 350px
  }
}